@import "./../../../abstractions/complex/functions/color_by_background";

@mixin sassy-button($background-color) {
  box-sizing: border-box;

  cursor: pointer;

  min-height: rem(39);
  padding: rem(12) rem(24);
  margin-bottom: rem(10);
  font-family: inherit;
  font-size: rem(14);

  border: none;
  border-radius: rem(3);
  outline: none;
  text-decoration: none;

  background-color: $background-color;
  color: contrast_invert_background(darken(darken($background-color, 5%), 5%));
  -webkit-box-shadow: 1px 1px 8px -2px opacify($background-color, 0.25);
  -moz-box-shadow: 1px 1px 8px -2px opacify($background-color, 0.25);
  box-shadow: 1px 1px 8px -2px opacify($background-color, 0.25);
  transition: box-shadow 0.125s ease-in-out 0.06s;

  &::-moz-focus-inner {
    border: 0; /* Removes dotted line in Firefox */
  }

  &:hover, &:focus, &:active {
    -webkit-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0);
    -moz-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0);
    box-shadow: 1px 1px 8px -2px rgba(0,0,0,0);
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;

    &:hover, &:focus {
      box-shadow: none;
    }
  }
}
