$_grid-breakpoints: (
        uni: 7000px,
        tbl: 1340px,
        lmob: 820px,
        mob: 768px,
);

$_grid-min-breakpoints: (
        mob: 0,
        lmob: 0,
        tbl: map_get($_grid-breakpoints, lmob)
);

$_orientation: (
        p: portrait,
        l: landscape,
);

