$white: #f0f0f0;
$black: #181818;
$blue: #639cee;
$light-blue: rgb(192, 199, 243);
$red: #d33631;
$green: rgb(77, 212, 90);
$yellow: #eadf25;
$transparent: rgba(255, 255, 255, 0);
$purple: #b381ff;
$pink: #ffb8e5;