
@each $key, $value in $color-map
{
  .color-#{$key} {
    color: $value !important;
    &::-webkit-input-placeholder {
      color: rgba(red($value), green($value), blue($value), 0.5);
    }

    &::-moz-placeholder {
      color: rgba(red($value), green($value), blue($value), 0.5);
    }

    &::-ms-placeholder {
      color: rgba(red($value), green($value), blue($value), 0.5);
    }

    &::placeholder {
      color: rgba(red($value), green($value), blue($value), 0.5);
    }
  }
}