// База из библиотек для сборки фреймворка
@import "styles/frameworks/bourbon/bourbon";
@import "styles/frameworks/susy/susy";
@import "styles/frameworks/saffron/saffron";
@import "styles/frameworks/cssowl/cssowl";

// Настройки сетки
$max-grid-size: 36;
$susy: (
        columns: susy-repeat($max-grid-size),
        gutters: 0.25em
);


// Самозапиленные сетки, цвета, компоненты на основе трех библиотек
@import "styles/abstractions/complex/variables/colors";
@import "styles/abstractions/complex/variables/grids";

// Поля ввода по умолчанию
@import "styles/concrete/ui/sassy-inputs/main";
