// База из библиотек для сборки фреймворка
@import "styles/frameworks/bourbon/bourbon";
@import "styles/frameworks/susy/susy";
@import "styles/frameworks/saffron/saffron";
@import "styles/frameworks/cssowl/cssowl";

// Поля ввода по умолчанию
@import "styles/frameworks/sassy-inputs/main";

// Настройки сетки
$max-grid-size: 36;
$susy: (
        columns: susy-repeat($max-grid-size),
        gutters: 0.25em
);


// Самозапиленные сетки, цвета, компоненты на основе трех библиотек
@import "styles/abstractions/complex/variables/colors";
@import "styles/concrete/grids/grids";
@import "styles/concrete/2d-translations/2d-translations";
@import "styles/concrete/button/button";
@import "styles/concrete/margins/margins";
@import "styles/concrete/paddings/paddings";
